.css-trick-card {
  background-color: white;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
  border-radius: 4px;
  .trick-title {
    text-transform: uppercase;
    font-size: 15px;
    color: #202124;
    margin: 10px;
    font-weight: 400;
  }

  .tags {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;

    .tag {
      margin: 10px 9px;
      padding: 8px 10px;
      border-radius: 999px;
      background-color: rgb(251, 153, 41);
      color: white;
      font-size: 16px;
    }
  }

  .code-container {
    margin: 20px 0;
    background-color: rgba(142, 253, 146, 1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: black;
    position: relative;
    padding: 20px 15px;
    display: flex;
    transition: 0.6s all;
    user-select: none;

    &.dark-mode {
      background-color: rgb(9, 4, 51);
      color: white;
    }

    .code {
      font-weight: 400;
      width: 92%;

      p {
        margin: 15px 10px;
        word-spacing: 4px;
      }
    }

    .btns {
      width: 8%;
      display: flex;
      justify-content: space-around;

      .MuiSvgIcon-root {
        cursor: pointer;
        opacity: 0.9;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media all and (max-width: 500px) {
  .css-trick-card {
    .trick-title {
      font-size: 18px;
    }
    .code-container {
      .code {
      }
      .btns {
        flex-direction: column;
      }
    }
  }
}
