.landing-component {
  height: 100vh;
  padding-top: 100px;
  background: linear-gradient(130deg, #737dfe, #ffcac9);
  h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 45px;
    color: #f54e1b;
    animation: color-rotate 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @keyframes color-rotate {
      from {
        filter: hue-rotate(0deg);
      }
      to {
        filter: hue-rotate(360deg);
      }
    }
  }

  h2 {
    text-align: center;
    margin: 10px;
  }

  p {
    font-size: 18px;
    color: blue;
    backdrop-filter: blur(100px);
  }

  .services {
    display: flex;
    justify-content: center;
    margin: 10px 20px;

    a {
      border: 1px solid #00000040;
      padding: 4px 10px;
      text-decoration: none;
      margin: 20px;
      font-weight: 600;
    }
  }
}
