.header {
  height: 65px;
  background: rgba(13, 8, 32, 1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;

  a {
    text-decoration: none;
    color: white;
  }

  .app-name {
    margin: 0 15px;
    width: 70%;

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .codes {
        font-weight: 500;
        font-size: 20px;
        margin: 0 2px;

        &.first {
          transform: rotate(90deg);
        }

        &.last {
          transform: rotate(-90deg);
        }
      }

      .main-icon {
        .MuiSvgIcon-root {
          color: #2bff00;
          animation: color-rotate 1.5s;
          animation-iteration-count: infinite;
          animation-direction: alternate;

          @keyframes color-rotate {
            from {
              filter: hue-rotate(0deg);
            }
            to {
              filter: hue-rotate(360deg);
            }
          }
        }
      }

      .MuiSvgIcon-root {
        font-size: 32px;
        font-weight: 600;
      }

      span {
        margin-left: 10px;
        font-weight: 600;
      }
    }
  }

  .links {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  .hamburger-menu-icon {
    display: none;
  }

  .hamburger-menu-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    top: 0px;
    right: 0;
    display: none;
    visibility: hidden;

    .hamburger-menu {
      width: 55%;
      height: 100%;
      background-color: rgba(247, 80, 80, 0.6);
      margin-left: auto;
      padding: 20px;
      backdrop-filter: blur(10px);

      .hamb-links {
        display: flex;
        flex-direction: column;
        min-height: 160px;
        align-items: flex-start;
        font-weight: 600;
        font-size: 16px;
        justify-content: space-around;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .header {
    .links {
      width: 80%;
    }
  }
}

@media screen and (max-width: 700px) {
  .header {
    padding: 15px;
    .app-name {
      width: 90%;
      margin: 0;
    }

    .links {
      display: none;
    }

    .hamburger-menu-icon {
      display: block;
    }
  }
}
