.color-cards {
  position: relative;
  margin: 20px 0;

  .heading {
    text-align: center;
    margin: 29px;
    font-size: 24px;
    font-weight: 400;
  }

  .previews {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 3em;
    place-content: center;
    padding: 20px;
  }

  .copy-color-modal {
    background: rgba(38, 40, 46, 0.8);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: white;
    backdrop-filter: blur(0.2px);
    display: none;
    justify-content: center;
    align-items: center;
    user-select: none;

    .modal-main {
      min-width: 680px;
      min-height: 350px;
      max-height: 350px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      background: white;
      box-shadow: 1px -2px 20px 0 rgba(0, 0, 0, 0.3);
      border-radius: 2px;
      border: 1px solid rgba(0, 0, 0, 0.6);

      .modal-main-nav,
      .modal-main-content,
      .modal-main-footer {
        width: 100%;
      }

      .modal-main-nav {
        background: black;
        padding: 12px 13px;
        height: 44px;
        border-radius: 2px 2px 0 0;
        display: flex;

        span {
          font-size: 17px;
          margin: 0 10px;
          cursor: pointer;
          height: 32px;
          display: inline-block;
        }

        span.active-nav {
          border-bottom: 3px solid red;
        }

        button {
          margin-left: auto;
          outline: none;
          background: transparent;
          border: 0;
          height: 100%;
          cursor: pointer;

          .MuiSvgIcon-root {
            color: white;
            font-size: 20px;
          }
        }
      }

      .modal-main-content {
        flex: 1;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
        overflow-x: hidden;
        justify-content: flex-start;

        .heading {
          font-size: 17px;
          color: red;
          margin: 10px;
          margin-bottom: 0;
        }

        .modal-main-background {
          display: flex;
        }

        .modal-main-font {
          display: none;
        }

        .modal-main-font,
        .modal-main-background {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 10px 30px;
          word-break: break-all;

          @media screen and (max-width: 550px) {
            padding: 10px;
          }

          p {
            font-size: 17px;
            margin: 10px 0px;
            color: green;
            text-align: left;
          }
        }
      }

      .modal-main-footer {
        button {
          background-color: transparent;
          border: none;
          outline: 0;
          width: 50px;
          height: 40px;
          font-weight: 500;
          font-size: 14px;
          float: right;
          margin: 10px;
          margin-right: 25px;
          cursor: pointer;
          color: rgb(122, 123, 124);
          text-transform: uppercase;
          position: relative;
          transition: color 0.3s;

          &:hover {
            color: black;
          }

          .modal-copied-notification {
            position: absolute;
            z-index: 100;
            width: 100px;
            height: 70px;
            color: black;
            transition: 1s all;
            top: -40px;
            left: -15px;
            opacity: 0;
            z-index: 1;
            text-transform: capitalize;
            background-color: black;
            width: 70px;
            font-size: 13px;
            color: white;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
            height: 34px;
            line-height: 35px;
          }

          .modal-copied-notification.show-toast {
            animation: 0.5s copiedNoti linear forwards;
            opacity: 1;
          }

          @keyframes copiedNoti {
            100% {
              transform: translateY(-20px);
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .color-cards {
    .previews {
      grid-template-columns: 300px;
    }

    .copy-color-modal {
      .modal-main {
        min-width: 400px;
        max-width: 400px;
        width: 30%;
        margin: 0 20px;
        font-size: 15px;

        .modal-main-content {
          .modal-main-font,
          .modal-main-background {
            p {
              font-size: 15px;
              margin: 10px;
              color: green;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .color-cards {
    .copy-color-modal {
      .modal-main {
        min-width: 340px;
        max-width: 340px;
        margin: 0;
        font-size: 15px;
      }
    }
  }
}
